@use "./../../foundation/global" as *;

.c-button {
  display: inline-block;
  background: #000000;
  color: #ffffff;
  text-align: center;

  width: 403px;
  width: fluid-size(200, 403);
  width: 100%;
  padding: fluid-size(8, 18);
  padding: 1.2em;

  @include baseFont;
  font-size: 24px;
  line-height: 1.5em;
  font-size: fluid-size(16, 24);
}

.c-button--large {
  position: relative;
  width: 651px;
  height: 92px;
  background-color: black;
  color: white;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  text-align: center;

  &::after {
    position: absolute;
    top: 50%;
    left: 95%;
    content: "";
    background-color: white;
    display: block;
    width: 90px;
    height: 1px;
  }
}

.c-button--responsive {
  position: relative;
  width: fluid-size(300, 604);
  height: 92px;
  height: fluid-size(46, 92);
  background-color: black;
  color: white;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  font-size: fluid-size(16, 24);
  line-height: 36px;
  line-height: fluid-size(25, 36);

  text-align: center;

  &::after {
    position: absolute;
    top: 50%;
    left: 95%;
    content: "";
    background-color: white;
    display: block;
    width: 90px;
    height: 1px;
  }
}
