// @use "./../../foundation/variable" as *;

// .c-button {
//   display: inline-block;
//   padding: 3px 20px;
//   color: $color-base;
//   background-color: $color-accent;
//   border: solid 2px $color-accent;
//   border-radius: 50px;
//   font-weight: bold;
//   text-decoration: none;
//   &:hover {
//     color: $color-accent;
//     background-color: $color-base;
//   }
// }

.c-button {
  display: inline-block;
  min-width: 403px;
  text-align: center;
  text-transform: uppercase;
  padding: 1.2em;
  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;
  background: #000000;
  color: #ffffff;
}

.c-button--large {
  position: relative;
  width: 651px;
  height: 92px;
  background-color: black;
  color: white;

  font-family: "Oswald";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 36px;

  text-align: center;

  &::after {
    position: absolute;
    top: 50%;
    left: 95%;
    content: "";
    background-color: white;
    display: block;
    width: 90px;
    height: 1px;
  }
}
