@use "./../../foundation/global" as *;

.c-button {
  display: inline-block;
  background: #000000;
  color: #ffffff;
  text-align: center;
  width: 100%;
  padding: 1.2em;
  @include baseFont;
  line-height: 1.5em;
  font-size: fluid-size(16, 24);
}

.c-button--responsive {
  position: relative;
  width: fluid-size(200, 604);
  height: fluid-size(46, 92);
  background-color: black;
  color: white;
  @include baseFont;
  font-size: fluid-size(16, 24);
  line-height: 1.5em;
  text-align: center;
  &::after {
    position: absolute;
    top: 50%;
    left: 95%;
    content: "";
    background-color: white;
    display: block;
    width: 90px;
    height: 1px;
  }
}
