@use "./../foundation/global" as *;

.l-header {
  height: 187px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 3.5vw;

  &__logo {
    width: 447px;
    height: 59px;
  }
  &__gnav {
  }
  &__lists {
    display: flex;
    justify-content: space-evenly;
    gap: 5vw;
  }
  &__list {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
  }
  &__link {
    color: #000000;
  }
}

// todo
// 画像が荒い
// 文字を大文字に
// 高さ指定？
