// todo
// ロゴ画像が荒い
// ナビ画面
// ロゴにリンク
// gnavにリンク

@use "./../foundation/global" as *;

.l-header {
  // height: 187px;
  height: fluid-size(98, 187);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 4vw;

  &::before {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    content: "";
    height: 7px;
    width: 100%;
    background: linear-gradient(
      90deg,
      #9b92ec 2.07%,
      #bdbbfc 28.68%,
      #dfcbfd 55.01%,
      #fb8cf0 79.8%,
      #b233bc 101.2%
    );
  }

  &__logo {
    img {
      width: max(224px, 22.5vw);
    }
    // width: 447px;
    // height: 59px;
    // width: fluid-size(300, 447);
    // height: fluid-size(29, 59);
    // width: max(224px, 22.5vw);
    // aspect-ratio: 447/59;
  }
  &__gnav {
    display: none;
    @include mq(lg) {
      display: block;
    }
  }
  &__lists {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
    margin-right: 1.5em;
  }
  &__list {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
  }
  &__link {
    color: #000000;
  }

  /* ハンバーガーボタン */
  &__navbtn {
    @include mq(lg) {
      display: none;
    }
    all: unset;
    outline: revert;
    -webkit-tap-highlight-color: transparent;
    cursor: pointer;
    // width: max(46px, var(--size1));
    width: 46px;
    aspect-ratio: 1/1;
    display: grid;
    place-items: center;
    // color: var(--primary);
    color: black;
  }

  &__navbtn-bar,
  &__navbtn::before,
  &__navbtn::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: currentColor;
    grid-area: 1 / 1;
    transition: transform 0.5s;
  }
  &__navbtn::before {
    transform: translateY(-12px);
  }
  &__navbtn::after {
    transform: translateY(12px);
  }

  /* スクリーンリーダー */
  &__sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }

  /* ナビゲーションメニュー */
  &__nav {
    gap: 44px;
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: linear-gradient(
      0.96deg,
      rgba(84, 96, 63, 0.9) 0.35%,
      rgba(162, 207, 79, 0.9) 182.75%
    );

    color: white;
    transition: transform 0.5s;
    a {
      color: white;
    }
  }
}

.open .l-header {
  &__navbtn-bar {
    transform: scale(0);
  }

  &__navbtn::before {
    transform: translateY(0) rotate(45deg);
  }
  &__navbtn::after {
    transform: translateY(0) rotate(-45deg);
  }
  &__nav {
    transform: translate(-100%, 0);
  }
  &__navbtn {
    color: $c-white;
    z-index: 200;
  }
}

.open {
  position: fixed;
  overflow: hidden;
  width: 100%;
}
