@use "./../../foundation/global" as *;

.p-category-list {
  display: flex;

  &__grid-wrapper {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 5vw) auto repeat(3, 5vw);
    grid-template-rows: auto auto;
    row-gap: 44px;
    & > * {
      grid-column: 2/-2;
    }
  }

  &__title-wrapper {
    grid-column: 5/5;
    grid-row: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-right: 1vw;
  }
  &__title {
    @include headingFont;
    font-size: fluid-size(50, 128);
    line-height: fluid-size(60, 190);
    text-align: center;
  }

  &__card-wrapper {
    display: flex;
    gap: 120px;
    margin-top: 90px;
    gap: fluid-size(30, 120);
    margin-top: fluid-size(30, 90);
  }

  &__card-wrapper {
    display: flex;
    flex-direction: column;
    grid-column: 4/-4;
    grid-row: 1;
    gap: fluid-size(10, 60);
    margin-top: fluid-size(10, 30);
    width: 50%;
  }
  &__card {
  }
  &__card-image {
    width: 238px;
    height: 199px;
    position: relative;
    img {
      width: 100%;
      height: 100%;
    }

    &::after {
      position: absolute;
      top: 10%;
      left: 10%;
      content: "";
      width: 238px;
      height: 199px;
      background: linear-gradient(
        90deg,
        #9b92ec 2.07%,
        #bdbbfc 28.68%,
        #dfcbfd 55.01%,
        #fb8cf0 79.8%,
        #b233bc 101.2%
      );
      transform: matrix(1, 0, 0, -1, 0, 0);
      z-index: -1;
    }
  }
  &__card-date {
    position: absolute;
    top: 10%;
    left: 10%;
    color: #d058d1;
  }
  &__card-title {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 50px;
    border-bottom: 1px solid;
    margin-top: 30px;
  }
  &__card-subtitle {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    margin-top: 10px;
  }
}

@include mq(md) {
  .p-category-list {
    &__grid-wrapper {
      grid-template-columns: 100fr 1300fr 100fr;
      margin-left: fluid-size(0, 50);
    }
    &__card-wrapper {
      grid-column: 2/2;
      grid-row: 1;
      flex-direction: row;
      width: 100%;
      gap: fluid-size(10, 77);
      margin-left: fluid-size(0, 27);
      margin-top: fluid-size(0, 39);
    }

    &__card-image {
      // width: fluid-size(116, 238);
    }
  }
}
