@use "./../../foundation/global" as *;

.p-home-category {
  margin-top: fluid-size(5, 15);
  // display: flex;

  &__link {
    width: 100%;
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__card--reverse {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  &__card-image {
    width: 100%;
    // height: 593px;
    height: fluid-size(300, 593);
    aspect-ratio: 384/593;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &__card-text {
    text-align: center;
  }
  &__card-title {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 64px;
    line-height: 95px;
    font-size: fluid-size(32, 64);
    line-height: fluid-size(48, 95);
    border-bottom: 1px solid #000;
    width: 60%;
    margin: 0 auto;
  }
  &__card-subtitle {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }
}

@include mq(sm) {
  .p-home-category {
    .grid10 {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
    }

    &__link {
      width: 100%;
      grid-column: span 5;
    }
  }
}

@include mq(md) {
  .p-home-category {
    .grid10 {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
    }

    &__link {
      width: 100%;
      grid-column: span 3;
    }

    &__card {
      display: flex;
      flex-direction: column;
      // flex-direction: column-reverse;
      gap: 10px;
    }

    &__card--reverse {
    }
  }
}

// @include mq(lg) {
//   .p-home-category {
//     .grid10 {
//       display: grid;
//       grid-template-columns: repeat(10, 1fr);
//     }

//     &__link {
//       width: 100%;
//       grid-column: span 2;
//     }
//   }
// }

@include mq(xl) {
  .p-home-category {
    .grid10 {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
    }

    &__link {
      width: 100%;
      grid-column: span 2;
    }
  }
}
