@use "./../../foundation/global" as *;

.p-home-about {
  margin-top: 185px;
  display: flex;
  gap: 50px;
  &__text-wrapper {
    width: 50%;
  }
  &__title {
    @include headingFont;
    font-size: fluid-size(60, 128);
    margin-bottom: 42px;
  }
  &__subtitle {
    display: inline-block;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    color: #ffffff;
    background-color: black;
    padding: 12px;
    margin-bottom: 11px;
  }
  &__desc {
    margin-top: 42px;
    font-family: "Noto Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 22.5px;
    line-height: 31px;
  }
  &__image-wrapper {
    display: flex;
    width: 45%;
  }
  &__image-left {
    width: 385px;
    height: 572px;
    margin-right: -200px;
    margin-top: 200px;
    z-index: 2;
  }
  &__image-right {
    width: 385px;
    height: 572px;
  }
  &__deco {
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    gap: 19px;

    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;

    &::before {
      content: "";
      display: block;
      background-color: black;
      width: 2px;
      height: 557px;

      justify-self: center;
    }
  }
}
