@use "./../../foundation/global" as *;

.p-home-info {
  margin-top: 200px;
  display: flex;
  gap: 100px;
  &__aside-left {
    width: 369px;
    background-color: black;
  }

  &__deco {
    margin-left: 239px;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    gap: 19px;

    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: white;

    &::before {
      content: "";
      display: block;
      background-color: white;
      width: 2px;
      height: 557px;

      justify-self: center;
    }
  }

  &__main-wrapper {
    width: 684px;
  }
  &__title {
    @include headingFont;
    font-size: fluid-size(60, 128);
  }
  &__desc {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 36px;
  }
  &__map {
    margin-top: 100px;
    margin-bottom: 50px;
  }
  &__aside-right {
    width: 500px;
    img {
      margin-top: 100px;
      width: 434px;
      height: 652px;
      clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%, 2% 10%);
    }
  }
}
