@use "./../../foundation/global" as *;

.p-home-info {
  margin-top: fluid-size(50, 200);
  &__grid-wrapper {
    display: grid;
    // grid-template-columns: repeat(3, 5vw) auto repeat(3, 5vw);
    // grid-template-columns: 369fr 1fr 562fr 1fr 434fr 1fr;
    // grid-template-columns: 10vw 1fr 562fr 1fr 434fr 1fr;
    grid-template-columns: 15vw 60vw;
    // grid-template-rows: auto auto;
    // row-gap: 44px;
    // column-gap: fluid-size(20, 100);
    column-gap: 5vw;
  }
  &__aside-left {
    grid-column: span 1;
    // margin-right: fluid-size(6, 12);
    // width: 369px;
    background-color: black;
    display: flex;
    justify-content: flex-end;
  }
  &__deco {
    // margin-left: fluid-size(5, 227);
    grid-column: 1/1;
    margin-right: fluid-size(10, 50);
    margin-right: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
    writing-mode: vertical-rl;
    gap: 19px;

    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    font-size: fluid-size(10, 16);
    line-height: fluid-size(15, 24);
    color: white;
    height: fluid-size(500, 900);

    &::before {
      content: "";
      display: block;
      background-color: white;
      width: 2px;
      height: 557px;
      height: fluid-size(400, 800);

      justify-self: center;
    }
  }

  &__main-wrapper {
    grid-column: 3/-2;
    margin-top: fluid-size(40, 80);
    // margin-left: -41px;
    // margin-left: -1.1vw;
    // width: 684px;
  }
  &__title {
    @include headingFont;
    font-size: fluid-size(50, 128);
    line-height: fluid-size(60, 190);
  }
  &__desc {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    margin-top: 45px;
    margin-left: 10px;
    font-size: fluid-size(12, 24);
    line-height: fluid-size(24, 40);
    margin-top: fluid-size(23, 45);
    margin-left: fluid-size(5, 10);
  }
  &__map {
    grid-column: 4/7;
    aspect-ratio: 562/497;
    width: 75%;
    width: fluid-size(281, 562);
    height: auto;
    margin-top: 100px;
    margin-bottom: 110px;
    margin-top: fluid-size(51, 103);
    margin-bottom: fluid-size(55, 110);
  }
  &__image {
    @include mq("max-md") {
      display: none;
    }
    position: relative;
    grid-column: 8/10;
    aspect-ratio: 434/652;
    width: 434px;
    width: fluid-size(200, 434);
    height: auto;
    margin-top: 315px;
    margin-top: fluid-size(160, 315);
    &::before {
      position: absolute;
      content: url(./../img/info_deco.png);
      display: block;
      width: 100%;
      height: 100%;
      top: -0.5%;
      left: -0.5%;
      z-index: 2;
    }

    img {
      width: 100%;

      // height: 652px;
      // clip-path: polygon(25% 0, 100% 0, 100% 100%, 0 100%, 2% 10%);
    }
  }
}

@include mq("md") {
  .p-home-info {
    &__grid-wrapper {
      display: grid;
      // grid-template-columns: repeat(3, 5vw) auto repeat(3, 5vw);
      // grid-template-columns: 369fr 1fr 562fr 1fr 434fr 1fr;
      // grid-template-columns: 10vw 1fr 562fr 1fr 434fr 1fr;
      grid-template-columns: 15vw 15vw 15vw;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-columns: repeat(10, 1fr);
      grid-template-columns: 15vw 30vw 30vw;
      grid-template-columns: 15vw 43vw 25vw;
      // grid-template-rows: auto auto;
      // row-gap: 44px;
      // column-gap: fluid-size(20, 100);
      column-gap: 5vw;
    }

    &__aside-left {
      grid-column: span 1;
      // margin-right: fluid-size(6, 12);

      // width: 369px;
      background-color: black;
    }
    &__deco {
      margin-right: fluid-size(10, 50);
      margin-left: 0;
    }

    &__main-wrapper {
      grid-column: 2/-2;
      margin-top: fluid-size(40, 80);
      margin-left: -41px;
      margin-left: -1.1vw;
      // width: 684px;
    }
    &__image {
      display: block;
      position: relative;
      width: 100%;
      grid-column: 3/3;
    }
  }
}

@include mq("lg") {
  .p-home-info {
    &__grid-wrapper {
      display: grid;
      grid-template-columns: 20vw 29vw 22.5vw;
      column-gap: 5vw;
    }

    &__aside-left {
      grid-column: span 1;
      background-color: black;
    }
    &__deco {
      justify-content: flex-start;
      margin-right: 7vw;
      margin-left: 0;
      &::before {
        height: 557px;
        height: fluid-size(400, 800);
        height: 557px;

        justify-self: center;
        justify-content: center;
      }
    }

    &__main-wrapper {
      grid-column: 2/-2;
      margin-top: fluid-size(40, 80);
      margin-left: -1.1vw;
      // width: 684px;
    }
    &__image {
      display: block;
      position: relative;
      margin-left: 8vw;
      // width: 100%;
      grid-column: 3/3;
    }
  }
}

@include mq("xl") {
  .p-home-info {
    &__grid-wrapper {
      column-gap: 9vw;
    }
    &__image {
      margin-left: -1.1vw;
    }
  }
}
