@use "./../../foundation/global" as *;

.c-grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 5vw) auto repeat(3, 5vw);
  row-gap: 44px;
  & > * {
    grid-column: 2/-2;
  }
}

.p-home-about {
  margin-top: fluid-size(10, 40);
  &__text-wrapper {
    grid-column: 4/-4;
    grid-row: 1;
  }
  &__title {
    @include headingFont;
    font-size: fluid-size(60, 128);
    line-height: fluid-size(90, 190);
    margin-bottom: fluid-size(10, 40);
  }
  &__subtitle {
    display: inline-block;
    @include japaneseFont;
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    margin-bottom: 11px;
    font-size: fluid-size(14, 36);
    line-height: fluid-size(25, 49);
    margin-bottom: fluid-size(6, 11);

    color: #ffffff;
    background-color: black;
    padding: 12px;
  }
  &__desc {
    margin-top: 32px;
    @include japaneseFont;
    font-weight: 500;
    font-size: 22.5px;
    line-height: 31px;
    font-size: fluid-size(10, 22.5);
    line-height: fluid-size(18, 31);
    // margin-bottom: fluid-size(6, 11);
  }

  &__deco {
    // grid-column: 2/2;
    // grid-row: 1;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    writing-mode: vertical-rl;
    gap: 20px;
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    margin-top: 5vw;

    height: 900px;
    height: fluid-size(500, 900);

    margin-left: 5vw;

    &::before {
      content: "";
      display: block;
      background-color: black;
      width: 2px;
      height: 800px;
      height: fluid-size(400, 800);
      // height: 900px;
      justify-self: center;
    }
  }

  &__image-left {
    grid-column: 4/-4;
    grid-row: 2;
    width: 40vw;
    aspect-ratio: 385/572;
    height: auto;
    margin-top: 10vw;
    margin-left: -0.5vw;
    z-index: 2;
  }
  &__image-right {
    grid-column: 4/-4;
    grid-row: 2;
    width: 40vw;
    aspect-ratio: 378/549;
    height: auto;
    margin-left: 29vw;
    margin-top: 0vw;
  }
}
//   margin-top: 185px;
//   margin-left: 43px;
//   display: flex;
//   gap: 40px;
//   // justify-content: space-between;

//   &__text-wrapper {
//     width: 37vw;
//   }
//   &__title {
//     @include headingFont;
//     font-size: fluid-size(60, 128);
//     margin-bottom: 42px;
//   }
//   &__subtitle {
//     display: inline-block;
//     font-family: "Noto Sans";
//     font-style: normal;
//     font-weight: 700;
//     font-size: 36px;
//     line-height: 49px;
//     color: #ffffff;
//     background-color: black;
//     padding: 12px;
//     margin-bottom: 11px;
//   }
//   &__desc {
//     margin-top: 32px;
//     font-family: "Noto Sans";
//     font-style: normal;
//     font-weight: 500;
//     font-size: 22.5px;
//     line-height: 31px;
//   }
//   &__image-wrapper {
//     display: flex;
//   }
//   &__image-left {
//     // width: 385px;
//     // height: 572px;
//     width: 20vw;
//     aspect-ratio: 385/572;
//     height: auto;
//     // margin-top: 165px;
//     // margin-left: -10px;
//     margin-top: 8.5vw;
//     margin-left: -0.5vw;
//     z-index: 2;
//   }
//   &__image-right {
//     // width: 378px;
//     // height: 549px;
//     width: 20vw;
//     aspect-ratio: 378/549;
//     height: auto;
//     // margin-left: -136px;
//     // margin-top: 10px;
//     margin-left: -7vw;
//     margin-top: 0.5vw;
//   }
//   &__deco {
//     display: flex;
//     align-items: center;
//     justify-content: flex-start;
//     writing-mode: vertical-rl;
//     gap: 20px;
//     font-family: "Oswald";
//     font-style: normal;
//     font-weight: 500;
//     font-size: 16px;
//     line-height: 24px;
//     margin-top: 40px;

//     &::before {
//       content: "";
//       display: block;
//       background-color: black;
//       width: 2px;
//       height: 557px;

//       justify-self: center;
//     }
//   }
// }
