// todo
// clippathレスポンシブ
// clippath下の余白
// swiperボタン　レスポンシブ
// メディアクエリ　スマホサイズ

@use "./../../foundation/global" as *;

.p-home-fv {
  position: relative;
  &__slider {
  }
  &__slider-item {
    height: 957px;
    object-fit: cover;
    img {
      height: 100%;
      width: 100%;
    }
  }
  &__deco-image {
    position: absolute;
    // top: -10%;
    // left: 10%;
    top: -200%;
    left: -50%;
    width: 110%;
    // width: max(720px, 50%);
    z-index: 1;
    // @include mq(md-lg) {
    //   top: 10%;
    //   left: 10%;
    //   width: 50%;
    // }
  }
  &__title-zone {
    position: absolute;
    top: 38%;
    left: 28%;
    background-color: white;
    // padding: 50px;
    // width: 900px;
    // height: 206px;
    padding: 2.6vw;
    width: 47vw;
    height: 11vw;

    // padding: fluid-size(25, 50);
    // width: fluid-size(450, 900);
    // height: fluid-size(103, 206);

    z-index: 1;
  }
  &__title {
    // position: absolute;
    // top: 0;
    // left: 0;
    @include headingFont;
    margin-top: -7.5vw;
    // font-size: fluid-size(64, 128);

    font-size: 7vw;
    line-height: 1.5em;

    border-bottom: solid 1px;
    text-align: center;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  &__subtitle {
    @include headingFont;
    // font-size: 16px;
    // line-height: 24px;
    font-size: 0.8vw;
    line-height: 1.5em;
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
  }
  &__btn-wrapper {
    position: absolute;
    top: 75%;
    left: 60%;
  }
}

// リファクタリング
.swiper {
  &::after {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: white;
    top: 0;
    left: 0;
    z-index: 1;
    clip-path: polygon(0 85%, 0% 100%, 40% 100%);
  }
}
.swiper-wrapper {
  display: flex;
}

.swiper-slide {
  width: 20%;
  background: rgba(255, 255, 255, 1);
  display: inline-block;
  img {
    opacity: 0.6;
    display: block;
  }
  &-active {
    img {
      opacity: 1;
      display: block;
    }
  }
}

.swiper-button {
  &-prev {
    color: black;
    top: 95%;
    left: 6%;
  }
  &-next {
    color: black;
    top: 95%;
    left: 12.5%;
  }
}

/* 前へ次への矢印カスタマイズ */
.swiper-button-prev:after,
.swiper-button-next:after {
  bottom: 0;
  content: "";
  height: 0;
  margin: auto;
  position: absolute;
  top: 0;
  width: 0;
  content: url(./assets/img/prev.svg);
}
/* 前への矢印カスタマイズ */
.swiper-button-prev:after {
  content: "";
  height: 30px;
  width: 30px;
  background: transparent url(./../img/prev.svg) no-repeat center / contain;
}
/* 次への矢印カスタマイズ */
.swiper-button-next:after {
  content: "";
  height: 30px;
  width: 30px;
  background: transparent url(./../img/next.svg) no-repeat center / contain;
}
