@use "./../../foundation/global" as *;

.p-home-about {
  margin-top: fluid-size(50, 200);

  &__grid-wrapper {
    display: grid;
    grid-template-columns: repeat(3, 5vw) auto repeat(3, 5vw);
    grid-template-rows: auto auto;
    row-gap: 44px;
    & > * {
      grid-column: 2/-2;
    }
  }
  &__text-wrapper {
    grid-column: 4/-4;
    grid-row: 1;
  }
  &__title {
    @include oswald500;
    font-size: fluid-size(48, 128);
    margin-bottom: fluid-size(10, 40);
    margin-top: -15px;
  }
  &__subtitle {
    display: inline-block;
    @include japaneseFont;
    font-weight: 700;
    font-size: fluid-size(14, 36);
    line-height: 2em;
    margin-bottom: fluid-size(6, 11);
    padding-inline: 0.5em;
    color: #ffffff;
    background-color: black;
  }
  &__desc {
    margin-top: 32px;
    @include japaneseFont;
    font-weight: 500;
    font-size: fluid-size(10, 22.5);
    line-height: fluid-size(18, 31);
  }
  &__deco {
    grid-column: 2/2;
    grid-row: 1/3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    writing-mode: vertical-rl;
    gap: fluid-size(10, 20);
    @include oswald500;
    height: 100%;

    &::before {
      content: "";
      display: block;
      background-color: black;
      width: 2px;
      height: 80%;
      justify-self: center;
    }
  }
  &__image-left {
    grid-column: 4/-4;
    grid-row: 2;
    width: 40vw;
    aspect-ratio: 385/572;
    height: auto;
    margin-top: 10vw;
    margin-left: -0.5vw;
    z-index: 2;
  }
  &__image-right {
    grid-column: 4/-4;
    grid-row: 2;
    width: 40vw;
    aspect-ratio: 378/549;
    height: auto;
    margin-left: 29vw;
    margin-top: 0vw;
  }
}
@include mq("md") {
  .p-home-about {
    &__grid-wrapper {
      grid-template-columns: 24fr 704fr 628fr;
      column-gap: 40px;
      margin-left: fluid-size(0, 50);
    }
    &__text-wrapper {
      grid-column: 2/2;
      grid-row: 1;
    }
    &__deco {
      grid-column: 1/1;
      grid-row: 1;
      margin-top: fluid-size(12.5, 25);
      height: 100%;
      margin-left: 0vw;
      &::before {
        height: 77%;
      }
    }
    &__image-left {
      grid-column: 3/3;
      grid-row: 1;
      width: 20vw;
      margin-top: 8vw;
    }
    &__image-right {
      grid-column: 3/3;
      grid-row: 1;
      width: 19.5vw;
      margin-left: 12.5vw;
      margin-top: -0.3vw;
    }
  }
}
