@use "./../../foundation/global" as *;

.p-home-category {
  margin-top: fluid-size(50, 116);

  &__link {
    width: 100%;
  }
  &__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  &__card--reverse {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
  }
  &__card-image {
    width: 100%;
    height: fluid-size(300, 593);
    aspect-ratio: 384/593;
    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  &__card-text {
    text-align: center;
    margin-bottom: fluid-size(10, 20);
  }
  &__card-title {
    @include baseFont;
    font-size: fluid-size(32, 64);
    line-height: fluid-size(48, 95);
    border-bottom: 1px solid #000;
    width: 60%;
    margin: 0 auto;
    margin-top: fluid-size(17, 35);
  }
  &__card-subtitle {
    @include baseFont;
    font-size: fluid-size(16, 24);
    line-height: fluid-size(24, 36);
  }
}

@include mq(sm) {
  .p-home-category {
    .grid10 {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
    }

    &__link {
      width: 100%;
      grid-column: span 5;
    }
  }
}

@include mq(md) {
  .p-home-category {
    .grid10 {
      display: grid;
      grid-template-columns: repeat(9, 1fr);
    }

    &__link {
      width: 100%;
      grid-column: span 3;
    }

    &__card {
      display: flex;
      flex-direction: column;
      // flex-direction: column-reverse;
      gap: 10px;
    }

    &__card--reverse {
    }
  }
}

@include mq(xl) {
  .p-home-category {
    .grid10 {
      display: grid;
      grid-template-columns: repeat(10, 1fr);
    }

    &__link {
      width: 100%;
      grid-column: span 2;
    }
    &__link:nth-of-type(odd) {
      .p-home-category__card {
        flex-direction: column-reverse;
      }
    }
  }
}
